# Database Configuration

DATABASE_URL=

# Ollama Configuration
# OLLAMA_BASE_URL="http://ollama:11434" use this for docker setup
OLLAMA_BASE_URL=
EMBEDDING_MODEL="nomic-embed-text"
CHAT_MODEL="qwen2:1.5b"

# == Groq ==
GROQ_API_KEY=
GROQ_MODEL="llama-3.1-8b-instant"

# ChromaDB Configuration
# CHROMA_URL="http://chroma:8000" use this for docker setup
CHROMA_URL=
COLLECTION_NAME=

# Application Configuration
PORT=
MAX_FILE_SIZE=
CHUNK_SIZE=
CHUNK_OVERLAP=

# authentication settings
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_SECRET_EXPIRES_IN=